<div class="container">

  <div class="card mb-4">
    <div class="card-body">
      <h2 class="card-title h4 mb-3">Juegos - Servicio Estático</h2>
      <p class="card-text text-muted">{{juegos}}</p>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <h2 class="card-title h4 mb-3">Pokemones - Servicio con API's</h2>
      @if (!mostrarResultados) {
          <div class="mb-3">
            <label for="pokemon-name" class="form-label">Digite el nombre del Pokémon:</label>
            <input type="text" class="form-control" id="pokemon-name" name="nombrePokemon" placeholder="Nombre del Pokémon">
          </div>
          <button type="button" class="btn btn-primary" (click)="obtenerPokemones()">Buscar Pokémon</button>
      } @else {
        <div class="text-center">
          <h3 class="h5 mb-3">Resultados</h3>
          <div class="d-flex justify-content-center mb-3">
            <img [src]="resultadosPokemon.imagen" alt="Imagen del Pokémon" class="img-fluid" style="max-width: 128px; max-height: 128px;">
          </div>
          <h4 class="h6 mb-3">{{ resultadosPokemon.nombre }}</h4>
          <button type="button" class="btn btn-secondary" (click)="volverABuscar()">Buscar otro Pokémon</button>
        </div>
      }
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <h2 class="card-title h4 mb-3">Componente Hijo / Query Params - Pokemon Shiny</h2>
      <input type="text" class="form-control" id="pokemon-shiny" placeholder="Nombre del Pokémon Shyni" [value]="nombrePokemonShiny" (input)="actualizarNombrePokemonShiny($event)">
    </div>
    <button type="button" class="btn btn-secondary" (click)="buscarShiny()">Buscar Shiny</button>
  </div>
  <router-outlet></router-outlet>
</div>