    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex justify-between items-center">
        <a class="text-white text-xl font-bold" href="#">Mi Sitio</a>
        <ul class="flex space-x-4">
            <li>
            <a class="text-white hover:text-gray-300" routerLink="/" routerLinkActive="font-bold" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
            </li>
            <li>
            <a class="text-white hover:text-gray-300" routerLink="/games" routerLinkActive="font-bold">Juegos</a>
            </li>
            <li>
            <a class="text-white hover:text-gray-300" routerLink="/pokemones" routerLinkActive="font-bold">Servicios - Pokemon</a>
            </li>
        </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>