<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card shadow mb-4">
        <div class="card-body">
          <h2 class="card-title h4 mb-4">Juegos</h2>
          <ul class="list-group">
            @for (game of games; track game.id) {
              <li class="list-group-item list-group-item-action" (click)="showGameDetails(game)">
                <span class="me-2 text-secondary">{{game.id}}</span>
                <span class="fw-medium">{{game.name}}</span>
                <span class="ms-2 text-muted">{{game.year}}</span>
              </li>
            }
          </ul>
          @if (selectedGame) {
            <app-game-modal 
              [game]="selectedGame" 
              (close)="closeModal()"
              (delete)="eliminarJuegoSeleccionado()"
              (save)="guardarCambiosJuego($event)"
            ></app-game-modal>
          }
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h2 class="card-title h4 mb-4">Agregar Juego</h2>
          <form>
            <div class="mb-3">
              <input type="text" class="form-control" id="name" placeholder="Nombre">
            </div>
            <div class="mb-3">
              <input type="number" class="form-control" id="year" placeholder="Año">
            </div>
            <button type="button" class="btn btn-primary" (click)="handleAddGame()">Agregar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>